<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_AE</key>
	<array>
		<string>AE'</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F'</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N'</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
	</array>
	<key>@MMK_L_OE</key>
	<array>
		<string>OE'</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P'</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R'</string>
		<string>Racute</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S'</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W'</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>m'</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p'</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft'</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v'</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w'</string>
		<string>wcircumflex</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_G</key>
	<array>
		<string>G'</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V'</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W'</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_ae</key>
	<array>
		<string>ae'</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b'</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma'</string>
		<string>period</string>
	</array>
	<key>@MMK_R_e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h'</string>
		<string>hcircumflex</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o'</string>
	</array>
	<key>@MMK_R_oe</key>
	<array>
		<string>oe'</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p'</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright'</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u'</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v'</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w'</string>
		<string>wcircumflex</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
