<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-35</integer>
		<key>@MMK_R_w</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_AE</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_e</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_V</key>
		<integer>20</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_OE</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_e</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_e</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_ae</key>
		<integer>-70</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>@MMK_R_oe</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_ae</key>
		<integer>-70</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_oe</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>30</integer>
		<key>@MMK_R_w</key>
		<integer>30</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-70</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
